p {
  font-weight: 400;
  margin: 0 0 1.75em 0;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
  border-left: 6px solid #9A9D9E;
  padding-left: 25px;
  margin: 0;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	font-size: 1.6rem;
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	font-size: 1.6rem;
  background-color: #D9F3F9;
  padding: 5px;
}


abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

.text-center {
  text-align: center;
}