body {
  font-family: "Merriweather", serif;
  letter-spacing: 0.01rem;
  font-size: 1.8rem;
  line-height: 1.75em;
  color: #3A4145;

  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  text-rendering: geometricPrecision;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 5rem;
  letter-spacing: -2px;
  line-height: 1.15em;
  text-indent: -3px;
}

h2 {
  font-size: 3.6rem;
  letter-spacing: -1px;
  line-height: 1.1em;
}
