body {
  font-family: $font__serif;
  letter-spacing: 0.01rem;
  font-size: 1.8rem;
  line-height: 1.75em;
  color: #3A4145;

  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  text-rendering: geometricPrecision;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
  font-family: $font__sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 5rem;
  letter-spacing: -2px;
  line-height: 1.15em;
  text-indent: -3px;

  @media (max-width: 680px) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 3.6rem;
  letter-spacing: -1px;
  line-height: 1.1em;

  @media (max-width: 680px) {
    font-size: 2.4rem;
  }
}
