.brand {
  display: inline-block;
}

.brand__title {
  @extend %navigation_element;

  margin-bottom: 0;
  margin-top: 0;
}

.brand__description {
  @extend %navigation_element;

  font-size: 13px;
  letter-spacing: 0px;
  margin-bottom: 0;
  margin-left: 10px;
  margin-top: 0;

  @media (max-width: 680px) {
    display: none;
  }
}