.page__main {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: 680px) {
    max-width: 710px;
    width: 80%;
  }
}